.themed-bottom-navigation .adm-tab-bar-item {
  padding-top: 12px;
  padding-bottom: 0;
}

.themed-bottom-navigation-more-item--active {
  color: var(--adm-color-primary);
  font-weight: 500;
}

.themed-bottom-navigation-more-item--active .themed-bottom-navigation-more-item__prefix,
.themed-bottom-navigation-more-item--active .themed-bottom-navigation-more-item__prefix .anticon {
  color: var(--adm-color-primary);
}
